<div class="input-group">
    <span class="input-group-text">First name</span>
    <input type="text" aria-label="First name" class="form-control">
   
  </div>
  <br/>
  <div class="input-group">
    <span class="input-group-text">Last name</span>
    <input type="text" aria-label="First name" class="form-control">
   
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <br/>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefone</label>
    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Telefone">
  </div>
  <br/>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">address</label>
    <input type="address" class="form-control" id="exampleFormControlInput1" placeholder="texto">
    
  </div>
  <br/>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>