/* You can add global styles to this file, and also import other style files */
*{
    margin: 10;
    padding: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    color: aqua;
}
p{
    text-align: center;
    color: brown ;
}
a{
    color: burlywood;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div{
    
}