<h1>primeiro-componente works!</h1>
<h2>Primeira aula angular</h2>
<h3>incrementando componentes</h3>
<h4 class="title" >nome: {{name}}</h4>
<p>idade: {{age}} data de nascimento:{{aniversario}} - ano de nascimento:{{nascimento}} - cidade natal: {{cidadeNatal}}</p>
<p>adress: {{adress}}</p>
<p>Profissão: {{profissao[1]}}</p>
<p>Hobbie: {{hobbie [1]}}</p>
<p>Carro nome: {{carro}} - {{carroAno}}</p>
<p> Cidade: {{city}} - Bairro: {{bairro}} - Estado: {{estado}}</p>
<div>
    <a href="#"> clique aqui</a>
    <br/>
    <a href="#"> veja mais sobre o pedro</a>
</div>
